<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/OIP.36QXEUAxDX2CdXZy7s8yqwHaGL?w=211&h=180&c=7&r=0&o=5&pid=1.7">

	<title>Home</title>
		<style>

		*{
		font-family:cursive;
		margin:0;
		padding:0;
		box-sizing:border-box;
		}
	h1,h2{
	font-size:35px;
	
		font-weight:normal;
		color:rgb(100,100,100);
		text-align:center;
	}

		h1{
		margin-bottom:30px;
		}

		h2{
		margin-top:20px;
		margin-bottom:10px;
		}

		#banner{
			width:100%;
		height:350px;
		object-fit:cover;
		}

		.container{
			max-width:960px;
		margin:0 auto;
		}

		.btn{
		text-align:center;
		}

		.about{
		text-align:justify;
		padding:0 5px;
		}

		</style>
</head>

<body>
		<div class="container">
	<h1>Careers Page</h1>
	<image src="https://74c2efcb-b506-4a38-8595-3a49d36c544f-00-2ey3b9gygkvdf.spock.replit.dev/static/banner.jpg" id="banner" />

		<h2>About</h2>
		<p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempore officiis similique iure repellendus consequatur sit nam reprehenderit sint qui dolor nihil, quod corrupti earum deserunt quam at sequi voluptatem.</p>

		<h2>Openings</h2>
		<p>List of Jobs</p>
		<div class="btn">
		<button>Contact Us</button>
		</div>
</div>
</head>
</body>
</html>